<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить заказ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/css/add_order.css' %}">
</head>
<body>
    <h1>Добавить заказ</h1>
    <form method="POST">
        {% csrf_token %}
        
        <label for="table_number">Номер стола:</label>
        <input type="number" id="table_number" name="table_number" placeholder="Введите номер стола" required>
        
        <label for="items">Блюда (в формате JSON):</label>
        <textarea id="items" name="items" placeholder='[{"name": "блюдо1", "price": 100}, {"name": "блюдо2", "price": 150}]' required></textarea>
        <label for="status">Статус:</label>
        <select id="status" name="status">
            <option value="pending">В ожидании</option>
            <option value="completed">Завершен</option>
            <option value="canceled">Отменен</option>
        </select>
        
        <button type="submit">Добавить заказ</button>
    </form>
    <a href="{% url 'order_list' %}">Назад к списку заказов</a>
</body>
</html>
