{% load static %}
<link rel="stylesheet" href="{% static 'orders/css/orders.css' %}">
<h1>Список заказов</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Номер стола</th>
        <th>Список блюд</th>
        <th>Общая стоимость</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.table_number }}</td>
        <td>
            <ul>
                {% for item in order.items %}
                    <li>{{ item.name }} - Цена: {{ item.price }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>{{ order.total_price }}</td>
        <td>{{ order.status }}</td>
         <td>
            <a href="{% url 'delete_order' order.id %}">Удалить</a>
            <a href="{% url 'update_order_status' order.id %}">Изменить статус</a>
        </td> 
    </tr>
    {% endfor %}
</table>
<a href="{% url 'add_order' %}">Добавить заказ</a>